<ul class="sidebar-menu">
<li class="header">MAIN NAVIGATION</li>
<li class="treeview">
  <a href="/overview">
    <i class="fa fa-dashboard"></i> <span>Overview</span>
  </a>
</li>
<li class="treeview">
  <a href="/sources">
    <i class="fa fa-wifi"></i> <span>Sources</span>
  </a>
</li>
<li class="treeview">
  <a href="/sources/heatmap">
    <i class="fa fa-clock-o"></i> <span>Time Heatmap</span>
  </a>
</li>
