{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
<style>
#select-count, #select-filter {
    width: auto;
    display: inline-block;
}

text {
    font-size: 12px;
}

.mainBars rect {
    shape-rendering: auto;
    fill-opacity: 0;
    stroke-width: 0.5px;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0;
}

.subBars {
    shape-rendering: crispEdges;
}

.edges {
    stroke: none;
    fill-opacity: 0.5;
}

.header {
    text-anchor: middle;
    font-size: 16px;
}

line {
    stroke: grey;
}
</style>
{% endblock %}
{% block main_content %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Source - Destination visualization</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-2">
                <label>Show <select class="form-control input-sm" id="select-count">
                    <option value="10" selected="selected">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select> entries</label>
            </div>
            <div class="col-md-3" id="div-page" class="hidden">
                <label id="lbl-page"></label>
                <ul id="btn-page" class="pagination pagination-sm no-margin pull-right">
                </ul>
            </div>
            <div class="col-md-2">
                <label>Filter: <select class="form-control input-sm" id="select-filter">
                    <option value="none" selected="selected">None</option>
                    <option value="ip_network">IP Network</option>
                    <option value="other_network">Other Network</option>
                    <option value="interactive">Interactive</option>
                    <option value="rdp">RDP</option>
                </select></label>
            </div>
            <div class="col-md-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="daterange" class="col-sm-4 control-label">Date Range</label>
                        <div class="input-group col-sm-8">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="daterange" name="daterange" value="02/01/2016 - 02/07/2016">
                            <span class="input-group-btn">
                                <button type="button" id="btn-daterange" class="btn btn-info btn-flat">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <svg id="network"></svg>
</div>
</div>
{% endblock %}
{% block post_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<!-- <script src="{{ url_for('static', filename='plugins/datepicker/bootstrap-datepicker.js') }}"></script> -->
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://vizjs.org/viz.v1.1.0.min.js"></script>
<script>

(function () {
    // load the network-to-show variable or load it from localStorage
    var storage = parseInt(localStorage.getItem('network-show-items'));
    if (storage) d3.select("#select-count").property("value", storage);
    else localStorage.setItem('network-show-items', 10)

    storage = localStorage.getItem('select-filter');
    if (storage) d3.select("#select-filter").property("value", storage);
    else localStorage.setItem('select-filter', "none")
})();

d3.select("#select-count").on('change', function(){
    // update the localStorage value of show items when the value changes
    var value = d3.select("#select-count").node().value;
    localStorage.setItem('network-show-items', value);
})

d3.select("#select-filter").on('change', function(){
    // update the localStorage value of filter items when the value changes
    var value = d3.select("#select-filter").node().value;
    localStorage.setItem('select-filter', value);
})

// see: http://bl.ocks.org/NPashaP/cd80ab54c52f80c4d84cad0ba9da72c2
// color markers
var color = ["#79b77a", "#9d7a7d", "#788458", "#a038e2", "#3366CC", "#DC3912", "#FF9900", "#109618", "#990099", "#0099C6", "#ffff00", "#994d00", "#669999", "#ff9999", "#b67e28"];
var color_index = [];
var cc = {};

var svg = d3.select("svg#network").attr("width", 1200).attr("height", 900);
var bp = [];
var g = [
    svg.append("g").attr("transform", "translate(215,50)"),
    svg.append("g").attr("transform", "translate(800,50)")
];

svg.append("text").attr("x", 290).attr("y", 15)
    .attr("class", "header").text("Source - Destination");

svg.append("text").attr("x", 870).attr("y", 15)
    .attr("class", "header").text("Source - User");

function process_data(i, data) {
    bp[i] = viz.bP()
        .data(data)
        .min(12)
        .pad(2)
        .height(500)
        .width(170)
        .barSize(25)
        .fill(function(d) {
            var clr;
            if (d.primary in cc) clr = cc[d.primary]
            else clr = color[color_index.push(d.primary) % color.length];

            cc[d.primary] = clr;
            return clr;
        })

    g[i].call(bp[i])

    g[i].append("text").attr("x", -40).attr("y", -8).style("text-anchor", "middle").text("Source");
    if (i == 0) { //Source - Destination
        g[i].append("line").attr("x1", -220).attr("x2", -10); // line top
        g[i].append("text").attr("x", -130).attr("y", -8).style("text-anchor", "middle").text("Hits");
        g[i].append("text").attr("x", 210).attr("y", -8).style("text-anchor", "middle").text("Destination");
        g[i].append("text").attr("x", 350).attr("y", -8).style("text-anchor", "middle").text("Hits");
        g[i].append("line").attr("x1", 175).attr("x2", 385); // line top
    } else { //Source-User
        g[i].append("line").attr("x1", -160).attr("x2", -10); // line top left
        g[i].append("text").attr("x", 1900).attr("y", -8).style("text-anchor", "middle").text("User");
        g[i].append("text").attr("x", -145).attr("y", -8).style("text-anchor", "middle").text("Hits");
        g[i].append("text").attr("x", 300).attr("y", -8).style("text-anchor", "middle").text("Hits");
        g[i].append("line").attr("x1", 175).attr("x2", 355); // line top right
    }

    g[i].selectAll(".mainBars")
        .on("mouseover", mouseover)
        .on("mouseout", mouseout);

    // labels for source
    g[i].selectAll(".mainBars").append("text").attr("class", "label")
        .attr("x", d => (d.part == "primary" ? -30 : 20))
        .attr("y", d => +6)
        .text(d => d.key)
        .attr("text-anchor", d => (d.part == "primary" ? "end" : "start"));

    // labels for value/hits
    g[i].selectAll(".mainBars").append("text").attr("class", "value")
        .attr("x", d => (d.part == "primary" ? -140 : 175))
        .attr("y", d => +6)
        .text(d => d.value.toLocaleString())
        .attr("text-anchor", d => (d.part == "primary" ? "end" : "start"));
}

function set_pages(pages){
    // TODO: check the interwebs if there is a more elegant solution to this
    var pager = d3.select('#btn-page')
    pager.selectAll('*').remove();
    var html = ""

    for (i=1; i < pages + 1; i++)
        html += "<li><a class='btn-pager' href='#'>" + i + "</a></li>";

    pager.html(html)

    d3.selectAll('.btn-pager')
        .on('click', function() {
            var dtrange = d3.select('input#daterange').node().value.replace(/\//g, '-').split(' - ');
            var page = parseInt(this.text);
            fetch_data(dtrange[0], dtrange[1], page);
        })
}

function fetch_data(start, end, page) {
    // iterate over destination & user
    d3.select("svg#network").selectAll('*').remove(); // clear any previous data
    svg = d3.select("svg#network").attr("width", 1200).attr("height", 900);
    bp = [];
    g = [
        svg.append("g").attr("transform", "translate(215,50)"),
        svg.append("g").attr("transform", "translate(800,50)")
    ];

    svg.append("text").attr("x", 290).attr("y", 15)
        .attr("class", "header").text("Source - Destination");

    svg.append("text").attr("x", 870).attr("y", 15)
        .attr("class", "header").text("Source - User");

    // fetch information about the data
    d3.json('/sources/information')
        .post(
            JSON.stringify({
                start: start,
                end: end,
                filter_result: localStorage.getItem('select-filter')
            }),
            function(err, data){
                if (!data) return; //skip the first callback

                var show_count = parseInt(localStorage.getItem('network-show-items'));
                if (data.source_count > show_count) {
                    var pages = Math.ceil(data.source_count/show_count);
                    d3.select("#lbl-page")
                        .text("Page " + page + " of " + pages + " (" + data.log_count + " logs)");
                        set_pages(pages)
                } else{ // only one page
                    d3.select("#lbl-page")
                        .text("Showing " + data.log_count + " logs");
                    set_pages(1)
                }

                d3.select('#div-page').classed("hidden", false);
            }
        );

    ['destination', 'user'].forEach(function(val, i) {
        d3.csv('/sources/' + val)
            .post(
                JSON.stringify({
                    start: start,
                    end: end,
                    top: localStorage.getItem('network-show-items') || 10,
                    page: page || 1,
                    filter_result: localStorage.getItem('select-filter')
                }),
                function(err, csvdata) {
                    if (!csvdata) return; // skip the first callback
                    var data = [];
                    csvdata.forEach(function(row) {
                        data.push([row.source, row.destination, parseInt(row.count)])
                    })

                    process_data(i, data)
                }
            );
    })
}

// setup mouseover and mouseout events
function mouseover(d) {
    [0, 1].forEach(function(i) {
        bp[i].mouseover(d);
        g[i].selectAll(".mainBars").select(".value").text(d => d.value.toLocaleString());
    })

}
function mouseout(d) {
    [0, 1].forEach(function(i) {
        bp[i].mouseout(d);
        g[i].selectAll(".mainBars").select(".value").text(d => d.value.toLocaleString());
    })
}

d3.select(self.frameElement).style("height", "800px");

// execute on load
(function() {
    $('input#daterange').daterangepicker({
        autoclose: true
    });
    $('#btn-daterange').click(function() {
        var dtrange = d3.select('input#daterange').node().value.replace(/\//g, '-').split(' - ');
        fetch_data(dtrange[0], dtrange[1], 1)
    });
    $('#btn-daterange').click()
})();
</script>
{% endblock %}
