{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
<style>
#select-filter {
    width: auto;
    display: inline-block;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}
</style>
<link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
<link rel="stylesheet" href="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.css') }}">
{% endblock %}
{% block main_content %}
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Heatmap</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-3" id="div-page" class="hidden">
                <label id="lbl-page"></label>
                <ul id="btn-page" class="pagination pagination-sm no-margin pull-right">
                </ul>
            </div>
            <div class="col-md-2">
                <label>Filter: <select class="form-control input-sm" id="select-filter">
                    <option value="none" selected="selected">None</option>
                    <option value="ip_network">IP Network</option>
                    <option value="other_network">Other Network</option>
                    <option value="interactive">Interactive</option>
                    <option value="rdp">RDP</option>
                </select></label>
            </div>
            <div class="col-md-4">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="daterange" class="col-sm-4 control-label">Date Range</label>
                        <div class="input-group col-sm-8">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control pull-right" id="daterange" name="daterange" value="02/01/2016 - 02/07/2016">
                            <span class="input-group-btn">
                                <button type="button" id="btn-daterange" class="btn btn-info btn-flat">Go!</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="chart"></div>
    </div>
</div>
{% endblock %}
{% block post_scripts %}
<script src="http://d3js.org/d3.v3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="{{ url_for('static', filename='plugins/datepicker/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/daterangepicker/daterangepicker.js') }}"></script>
<script>
var storage = localStorage.getItem('select-filter');
if (storage) d3.select("#select-filter").property("value", storage);
else localStorage.setItem('select-filter', "none")

d3.select("#select-filter").on('change', function(){
    // update the localStorage value of filter items when the value changes
    var value = d3.select("#select-filter").node().value;
    localStorage.setItem('select-filter', value);
})

// see: http://bl.ocks.org/tjdecke/5558084
var margin = {
        top: 120,
        right: 0,
        bottom: 100,
        left: 140
    },
    width = 960 - margin.left - margin.right,
    height = 1000 - margin.top - margin.bottom,
    gridSize = Math.floor(width / 24),
    legendElementWidth = gridSize * 2,
    buckets = 9,
    colors = ["#ffffd9", "#edf8b1", "#c7e9b4", "#7fcdbb", "#41b6c4", "#1d91c0", "#225ea8", "#253494", "#081d58"], // alternatively colorbrewer.YlGnBu[9]
    days = ["Mo", "Tu", "We", "Th", "Fr", "Sa", "Su"],
    times = ["00", "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"];

var svg = d3.select("#chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

$('input#daterange').daterangepicker({autoclose: true});
$('#btn-daterange').click(function() {
    svg.selectAll(".dayLabel").remove();
    var dtrange = d3.select('input#daterange').node().value.replace(/\//g, '-').split(' - ');
    heatmapChart('/summary/time/' + dtrange.join('/'));
});

var timeLabels = svg.selectAll(".timeLabel")
    .data(times)
    .enter().append("text")
    .text(function(d) {
        return d;
    })
    .attr("x", function(d, i) {
        return i * gridSize;
    })
    .attr("y", 0)
    .style("text-anchor", "middle")
    .attr("transform", "translate(" + gridSize / 2 + ", -6)")
    .attr("class", function(d, i) {
        return ((i >= 7 && i <= 16) ? "timeLabel mono axis axis-worktime" : "timeLabel mono axis");
    });

var heatmapChart = function() {
    var dtrange = d3.select('input#daterange').node().value.replace(/\//g, '-').split(' - ');
    d3.csv('/heatmap')
        .post(
            JSON.stringify({
                start: dtrange[0],
                end: dtrange[1],
                filter_result: localStorage.getItem('select-filter')
            }),
            function(err, data){
                if (!data)
                    return; //skip the first callback

                var total = 0;
                data.forEach(function(d){
                    total += parseInt(d.value)
                })
                console.log(total)
                //create the valid array
                var dates = [...new Set(data.map(d => d.date))];
                data.forEach(function(d) {
                    d.day = dates.indexOf(d.date) + 1;
                })

                var colorScale = d3.scale.quantile()
                    .domain([0, buckets - 1, d3.max(data, d => parseInt(d.value))])
                    .range(colors);

                var cards = svg.selectAll(".hour")
                    .data(data, function(d) {
                        return d.day + ':' + d.hour;
                    });

                var tip = d3.tip().attr('class', 'd3-tip').html(d => "Hits: " + d.value);
                svg.call(tip)

                cards.append("title");
                cards.enter().append("rect")
                    .attr("x", function(d) {
                        return d.hour * gridSize;
                    })
                    .attr("y", function(d) {
                        return (d.day - 1) * gridSize;
                    })
                    .attr("rx", 4)
                    .attr("ry", 4)
                    .attr("class", "hour bordered")
                    .attr("width", gridSize)
                    .attr("height", gridSize)
                    .style("fill", colors[0])
                    .on('mouseover', tip.show)
                    .on('mouseout', tip.hide);;

                cards.transition().duration(1000)
                    .style("fill", function(d) {
                        return colorScale(d.value);
                    });

                cards.select("title").text(function(d) {
                    return d.value;
                });
                cards.exit()
                    .remove();;

                var legend = svg.selectAll(".legend")
                    .data([0].concat(colorScale.quantiles()), function(d) {
                        return d;
                    });

                legend.enter().append("g").attr("class", "legend");

                legend.append("rect")
                    .attr("x", function(d, i) {
                        return legendElementWidth * i;
                    })
                    .attr("y", -90)
                    .attr("width", legendElementWidth)
                    .attr("height", gridSize / 2)
                    .style("fill", function(d, i) {
                        return colors[i];
                    });

                legend.append("text")
                    .attr("class", "mono")
                    .text(function(d) {
                        return "≥ " + Math.round(d);
                    })
                    .attr("x", function(d, i) {
                        return legendElementWidth * i + 20;
                    })
                    .attr("y", gridSize - 90);

                legend.exit().remove();

                var dayLabels = svg.selectAll(".dayLabel")
                    .data(dates)
                    .enter().append("text")
                    .text(function(d) {
                        return new Date(d).toString().slice(0, 15);
                    })
                    .attr("x", -5)
                    .attr("y", function(d, i) {
                        return i * gridSize;
                    })
                    .style("text-anchor", "end")
                    .attr("transform", "translate(-6," + gridSize / 1.5 + ")")
                    .attr("class", function(d, i) {
                        return ((i % 7 >= 0 && i % 7 <= 4) ? "dayLabel mono axis axis-workweek" : "dayLabel mono axis");
                    });
            }
        );
};

heatmapChart()
</script>
{% endblock %}
